
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* .box {
  max-width: 500px;
  margin: auto;
} */

.nav_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  z-index: 4;
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #fff;
}
.nav_btn > svg {
  fill: #000;
  width: 100%;
  height: 100%;
  position: relative;
}

.nav_btn_left {
  left: 0;
}
.nav_btn_right {
  right: 0;
}

.slide {
  padding-top: 2rem;
}

.carousel .control-dots {
  z-index: 3;
}

.ind {
  width: 20px;
  height: 20px;
  list-style: none;
  border: 4px solid #f5f5f5;
  transform: rotate(135deg);
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.ind.active {
  background-color: #000;
  transition: 500ms 200ms;
}

.ind:not(:last-child) {
  margin-right: 1.4rem;
}

/* .carousel .carousel-status {
  left: 0;
  right: 0;
  text-align: center;
  color: #000;
  font-size: 1.4rem;
  text-shadow: none;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 700;
} */


.slider-container {
  width: 40%;
  height: 40%;
  margin: auto;
 
}

.input-carousel {
  /* display: flex;
  justify-content: center; */
}

 .react-slideshow-container {
  position: relative;
  height: 100%;
} 


 .react-slideshow-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
} 


.react-slideshow-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*
@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Poppins";
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 5px;
}

.con {
  max-width: 1200px;
  margin: auto;
}
.main {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 38rem));
  gap: 1rem;
  align-items: start;
  border: 2px dashed #a8a4a4;
  background-color: #f2f2f2;
  padding: 1rem;
}

.media_box {
  position: relative;
}

.media_box > video {
  width: 100%;
}

.capture_btn {
  border: 3px solid #8888;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: 0.2s linear;
  z-index: 2;
}
.capture_btn:hover {
  transform: translateX(-50%) scale(1.1);
  background-color: #bb2522;
}
.capture_btn:disabled {
  background-color: #979292;
}

div {
  text-align: center;
  padding: 12px 0;
}
.create_slide_btn {
  padding: 1.2em 2.8em;
  font-size: 1rem;
  background-color: #67a913;
  color: white;
}
.create_slide_btn:hover {
  background-color: #457409;
}

.img_box {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 3;
}

.img_box img {
  width: 100%;
  height: auto;
  object-fit: fill;
  display: inline-block;
}
.slide_box {
  display: flex;
  overflow: hidden;
  max-height: 100%;
  flex-direction: column;
}

.slide_box video {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.slide_box p {
  font-size: 1.8rem;
  text-align: center;
} */

/* Captured images */
/* .btn_red {
  background-color: hsl(0, 100%, 67%);
  color: white;
  font-size: 0.8rem;
  padding: 0.6em 1em;
}
.btn_red:hover {
  background-color: hsl(0, 87%, 56%);
}
.captured_imags_con {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
  gap: 2rem;
}
.single_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #ada8a8;
  padding: 7px;
}
.single_img img {
  width: 90%;
}
.single_img button {
  border: none;
} */
